@import '../../index.module.scss';

.wrapped {
  font-family: 'PixelDigivolve';
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-color-main;
}
.inner {
  display: grid;
  gap: 30px;
}