.block {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
    padding: 20px;
    background: #37446E;
    border: 3px solid #000000;
    box-shadow: inset -6px 0px 2px #222A5C, inset 6px 0px 4px #222A5C, inset 0px -6px 4px #38002C, inset 0px 8px 2px rgba(255, 255, 255, 0.46);
}

.block:hover {
    background: #4c5c89;
}