@import 'src/index.module.scss';

.login_button_title {
  @include h-center-content;
  font: $font_type_PixelDigivolve_400_37_px;
  color: $main_input_text_color;
  text-align: center;
  letter-spacing: 0px;
  width: 63.37%;
  @include lg {
    font-size: 33px;
    text-align: center;
  }
  @include md {
    font-size: 29px;
  }
  @include sm {
    font-size: 26px;
  }
  @include xs {
    font-size: 24px;
  }
  @include xxs {
    font-size: 23px;
  }
  @include tn {
    font-size: 21px;
    width: 69.76%;
  }
  position: absolute;
  top: 19px;
  bottom: 20px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
}
