@use "utils" as *;

$color_type_0: rgb(251, 55, 255);
$color_type_1: rgb(255, 255, 255);
$color_type_2: rgb(55, 68, 110);
$color_type_3: rgba(24, 27, 34, 0.49);
$color_type_4: rgba(24, 27, 34, 0.698);

$border_type_0: 3px solid rgb(0, 0, 0);

$font_type_0: 400 60px/1.16 "Frijole", Helvetica, Arial, serif;
$font_type_1: 400 37px/1.2 "PixelDigivolve", Helvetica, Arial, serif;
$font_type_2: 400 18px/1.2 "Frijole", Helvetica, Arial, serif;

.form_root {
  @include flex-column;
  position: relative;
  overflow: hidden;
}
.helper {
  background-color: $color_type_1;
  height: 1020px;
  position: relative;
}
.decorator {
  width: 1941px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: -98px;
  left: -21px;
}
.form_main_block {
  @include flex-column;
  background-color: $color_type_3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24705882352941178);
  width: 619px;
  height: 601px;
  position: absolute;
  top: 270px;
  right: 650px;
}
.form_group {
  @include flex-column;
  width: 83.36%;
  position: relative;
  flex-grow: 1;
  margin: 97px auto 69px;
  @include xs {
    width: 86.98%;
  }
  @include xxs {
    width: 89.9%;
  }
  @include tn {
    width: 92.23%;
  }
}
.form_inputs_buttons {
  @include flex-column;
  position: relative;
  flex-grow: 1;
}
.form_inputs {
  @include flex-column;
  position: relative;
  margin: 0px 0px 0px 2px;
  @include lg {
    margin: 0px 0px 0px 5px;
  }
}
.form_login_input_title {
  @include font-face($font_type_2, $color_type_1, 0px);
  @include lg {
    font-size: 17px;
    text-align: left;
  }
  @include md {
    font-size: 16px;
  }
  @include sm {
    font-size: 15px;
  }
  @include xxs {
    font-size: 14px;
  }
  position: relative;
}
.form_login_input {
  background-color: $color_type_2;
  border: $border_type_0;
  height: 44px;
  position: relative;
  margin: 8px 0px 0px;
}
.form_pass_input_title {
  @include font-face($font_type_2, $color_type_1, 0px);
  @include lg {
    font-size: 17px;
    text-align: left;
  }
  @include md {
    font-size: 16px;
  }
  @include sm {
    font-size: 15px;
  }
  @include xxs {
    font-size: 14px;
  }
  position: relative;
  margin: 22px 0px 0px;
}
.form_pass_input {
  background-color: $color_type_2;
  border: $border_type_0;
  height: 44px;
  position: relative;
  margin: 7px 0px 0px;
}
.form_pass_reset_link {
  display: flex;
  justify-content: flex-end;
  font: $font_type_2;
  color: $color_type_1;
  text-align: right;
  text-decoration: none;
  letter-spacing: 0px;
  width: 63.62%;
  @include lg {
    font-size: 17px;
    text-align: right;
  }
  @include md {
    font-size: 16px;
  }
  @include sm {
    font-size: 15px;
  }
  @include xxs {
    font-size: 14px;
  }
  position: relative;
  margin: 15px 0% 0px 36.38%;
}
.form_buttons {
  @include flex-column;
  position: relative;
  margin: 52px 0px 0px;
}
.form_button_box {
  @include flex-column;
  height: 84px;
  position: relative;
}
.form_button {
  background-color: $color_type_2;
  border: $border_type_0;
  height: 84px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  cursor: pointer;
}
.login_button_title {
  @include h-center-content;
  font: $font_type_1;
  color: $color_type_1;
  text-align: center;
  letter-spacing: 0px;
  width: 63.37%;
  @include lg {
    font-size: 33px;
    text-align: center;
  }
  @include md {
    font-size: 29px;
  }
  @include sm {
    font-size: 26px;
  }
  @include xs {
    font-size: 24px;
  }
  @include xxs {
    font-size: 23px;
  }
  @include tn {
    font-size: 21px;
    width: 69.76%;
  }
  position: absolute;
  top: 19px;
  bottom: 20px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
}
.form_sign_in_link {
  @include h-center-content;
  font: $font_type_2;
  color: $color_type_1;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0px;
  width: 63.37%;
  @include lg {
    font-size: 17px;
    text-align: center;
  }
  @include md {
    font-size: 16px;
  }
  @include sm {
    font-size: 15px;
  }
  @include xxs {
    font-size: 14px;
  }
  position: relative;
  margin: 25px 16.28% 0px 20.35%;
}
.decorator2 {
  width: 808px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: -347px;
  left: -42px;
}
.decorator1 {
  width: 1030px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  bottom: -301px;
  right: -81px;
}
.box1 {
  background-color: $color_type_4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24705882352941178);
  width: 1920px;
  height: 1038px;
  opacity: 0.69;
  position: absolute;
  top: -18px;
  right: 0px;
}
.form_logo_title {
  @include h-center-content;
  font: $font_type_0;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  width: 1079px;
  height: 212px;
  @include lg {
    font-size: 53px;
    text-align: center;
  }
  @include md {
    font-size: 46px;
  }
  @include sm {
    font-size: 39px;
  }
  @include xs {
    font-size: 36px;
  }
  @include xxs {
    font-size: 33px;
  }
  @include tn {
    font-size: 31px;
  }
  position: absolute;
  top: 165px;
  right: 420px;
}
