@mixin fontTitle($style, $weight, $size, $height) {
  font-family: 'Frijole';
  font-weight: $weight;
  font-style: $style;
  font-size: $size;
  line-height: $height;
}

@mixin fontText($style, $weight, $size, $height) {
  font-family: 'PixelDigivolve';
  font-weight: $weight;
  font-style: $style;
  font-size: $size;
  line-height: $height;
}

@mixin fontSecondaryText($style, $weight, $size, $height) {
  font-family: 'Roboto';
  font-weight: $weight;
  font-style: $style;
  font-size: $size;
  line-height: $height;
}