// colors
$bg-color-main: #222739;
$main_logo_text_color: rgb(251, 55, 255);
$main_input_text_color: rgb(255, 255, 255);
$main_input_bg_color: rgb(55, 68, 110);
$main_block_gb_color: rgba(24, 27, 34, 0.49);


$main_button_border_color: 3px solid rgb(0, 0, 0);

$font_type_Frijole_400_60_px: 400 60px/1.16 "Frijole", Helvetica, Arial, serif;
$font_type_PixelDigivolve_400_37_px: 400 37px/1.2 "PixelDigivolve", Helvetica, Arial, serif;
$font_type_Frijole_400_18_px: 400 18px/1.2 "Frijole", Helvetica, Arial, serif;